<h1>blogs_index</h1>

<h1>ブログ一覧</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>ユーザー</th>
    <th>詳細</th>
    <th>編集</th>
    <th>削除</th>
  </tr>

<% @blogs.each do |blog| %>
    <tr>
      <th><%= blog.title %></th>
      <th><%= blog.user.name %></th>
      <th><%= link_to "●", blog_path(blog.id) %></th>
      <th><%= link_to "●", edit_blog_path(blog.id) %></th>
      <th><%= link_to "●", blog_path(blog.id), method: :delete%></th>
    </tr>
  <%end%>
</table>
<p><%= link_to "新規投稿",new_blog_path %></p>